<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="OwnIP" value="192.168.150.218" />
    <add key="ListeningPort" value="55555" />
    <add key="LogFile" value="c:\temp\mylog.txt" />
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>