<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServerIP" value="192.168.150.218" />
    <add key="OwnIP" value="192.168.150.217" />
    <add key="Port" value="55555" />
    <add key="APPID" value="1" />
    <add key="ExeName" value="fusrwTest.exe" />
    <add key="Arguments" value="-o r -d ProcessDrv -b 0 -e VI0 -a 0x2004dc" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>
